
# Dont track backup files (that is what a VCS is for)
*.bak
*.bck
*.kicad_pcb-bak


# This is a cache of the other libs
hw-rgb-lcd-rpi-cache.lib

# This is generated data
hw-rgb-lcd-rpi.net

# fabrication outputs
*-B.Cu.gbl
*-B.Mask.gbs
*-B.SilkS.gbo
*-Edge.Cuts.gm1
*-F.Cu.gtl
*-F.Mask.gts
*-F.Paste.gtp
*-F.SilkS.gto
*-NPTH.drl
*.drl

